.intro {
  display: flex;
  gap: 50px;
  align-items: center;
  margin: 30px 0px;
}
.intro-text { 
  display: flex;
  flex-direction: column;
  flex: 2;
  margin-right: auto;
}
.intro-title{
  font-size: 60px;
  font-family: var(--Bebas-font);
}
.intro-text h3 {
  font-size: 40px;
}
.intro-description {
  display: block;
  margin-top: 30px;
}
.intro-additional {
  display: block;
  margin-top: 30px;
  padding: 20px;
  background-color: black;
  color: var(--gray-light);
}
.intro-additional strong {
  color: var(--gray-light);
}
.gun-box {
  padding: 20px;
  flex: 1;
  background-color: black;
  box-shadow: 0px 0px 10px black;
}
.gun-photo {
  width: 100%;
  height: auto;
}
.favorite {
  text-align: center;
  color: var(--gray-light);
}
.favorite-name {
  margin-top: 10px;
  text-align: center;
}
