button {
  padding: 20px 30px; 
  background-color: transparent;
  color: white;
  text-decoration: underline;
  border: none;
  text-decoration-color: #ffffff00;

  transition: 0.2s;
}
button:hover {
  background-color: var(--gray);
  cursor: pointer;
}
button:active {
  background-color: var(--black);
}

@media (max-width: 600px) {
  button {
    padding: 10px 15px;
  }
}