.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--black);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.company {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
.company-name {
  font-family: var(--Bebas-font);
}