footer {
  margin-top: 50px;
  background-color: black;
  width: 100%;
}
footer h1, footer h2, footer h3, footer p {
  color: var(--gray-light);
}
.contact {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0px 20px;
}
.contact-buttons {
  display: flex;
}
.contact-buttons button {
  flex: 1;
}
.contact-buttons button > * {
  width: 30px;
  height: auto;
  fill: var(--gray-light);
}
.contact-notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.contact-note {
  justify-self: center;
  display: flex;
  gap: 15px;
  margin: 10px;
}
.contact-note .contact-icon {
  width: 30px;
  height: auto;
  fill: var(--gray-light);
}
.contact-note p {
  font-size: 15px;
}
.bio {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 50px 20px;
}
.bio p {
  font-size: 15px;
}
.bio .realname {
  font-style: italic;
}

@media (min-width: 600px) {
  .contact-note > * {
    font-size: 20px;
  }
}