@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;600&display=swap');

* {
  color: white;
  
  font-family: var(--Kanit-font);
  font-size: 20px;
  margin: 0;
  padding: 0;

  transition: 0.2s;

  --black: #141415;
  --gray: #222124;
  --gray-light: #3a3a3c;
  --white: white;;
  --blue: #3c56e7;
  --blue-light: #5d73f0;

  --Bebas-font: 'Bebas Neue';
  --Kanit-font: 'Kanit', system-ui;
}
body {
  background-color: var(--black);
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
  align-items: center;
  justify-content: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6, p:hover {
  cursor: default;
}
.top {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.header-image {
  position: absolute;
  filter: blur(3px);
  scale: 1.1;
}
.header-box {
  position: relative;
  max-width: 1000px;
}
